<!DOCTYPE html> 
    <html lang="en"> 
        <head> 
            <meta charset="UTF-8" /> 
            <title> Z-park </title>
            
            <!-- Import Styles --> 
            <link rel="stylesheet" href="Style.css" />
            
            <!-- Import Vue.js --> 
             <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        </head>


        <body> 
            <div id="app"> 
                <div class="nav-bar">

                </div> <h1>{{ intro }}</h1>

                <input v-model="carIn" placeholder="enterParking">
                <input v-model="carOut" placeholder="exitParking">

      
                <button v-on:click="gemBil" >Gem bil</button>

            </div>



            <!-- Import App --> 
            <script src="main.js"></script>

            <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
            
            <!-- Mount App --> 
            <script> const mountedApp = app.mount('#app') </script> 
        </body>
    </html>
