<!DOCTYPE html> 
    <html lang="en"> 
        <head> 
            <meta charset="UTF-8" /> 
            <title> Z-park </title>
            
            <!-- Import Styles -->
            <link rel="stylesheet" href="Style.css" />

            <!-- Import Axios.js -->
            <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js" ></script>
            
            <!-- Import Vue.js -->
             <script src="https://unpkg.com/vue@3/dist/vue.global.js" ></script>

        </head>


        <body> 
          
           
            <div id="app">
                <!-- Top-Nav Bar -->
                <div class="topnav">
                    <a class="active" href="#home">Z-Park</a>
                    <a href="#">Produkt</a>
                    <a href="#">Om Os</a>
                    <a href="CreateUser.html">Opret Bruger</a>
                    <a href="Brugere.html">Brugere</a>
                    <!-- Dynamisk visning af Log ind / Log ud -->
                    <span v-if="!loggedInUser">
                        <a href="#" style="cursor: pointer;">Log ind</a>
                    </span>
                    <span v-else>
                        <a @click="logout" href="#" style="cursor: pointer;">Log ud</a>
                    </span>
                </div>
            
                <!-- Login/Logout sektion -->
                <div class="login" v-if="!loggedInUser">
                    <h3 id="h3login">Log ind</h3>
                    <input id="U-name" v-model="licenseplate" placeholder="Nummerplade">
                    <p></p>
                    <input id="U-name" type="password" v-model="Password" placeholder="Kodeord">
                    <a id="forgot" href="#">Glemt kodeord/brugernavn?</a>
                    <br />
                    <div>
                        <button @click="verifyLogin">Log ind</button>
                    </div>
                    <p v-if="errorMessage" class="error">{{ errorMessage }}</p>
                    <p v-if="successMessage" class="success">{{ successMessage }}</p>
                </div>
            
                <div class="logout" v-if="loggedInUser">
                    <h3>Velkommen, {{ loggedInUser }}</h3>
                
                </div>
            </div>
            
                
        </body>
        

            <!-- Import App --> 
            <script src="main.js"></script>
            

    </html>
