<!DOCTYPE html> 
    <html lang="en"> 
        <head> 
            <meta charset="UTF-8" /> 
            <title> Z-park </title>
            
            <!-- Import Styles -->
            <link rel="stylesheet" href="Style.css" />

            <!-- Import Axios.js -->
            <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js" ></script>
            
            <!-- Import Vue.js -->
             <script src="https://unpkg.com/vue@3/dist/vue.global.js" ></script>

        </head>


        <body> 

            <!-- Top-Nav Bar -->
            <div class="topnav">
                <a class="active" href="#home">Z-Park</a>
                <a href="#">Produkt</a>
                <a href="#">Om Os</a>
                <a href="#">Opret Bruger</a>
            </div>

            <div id="app">

                <div class="login">

                    <h3 id="h3login">  Log ind </h3>
                        <input  id="U-name" v-model="Username" placeholder="Brugernavn">
                            <p></p>
                            <br/>
                        <input id="U-name" v-model="Password" placeholder="Kodeord">
                    <h3 id="forgot"> Glemt kodeord? </h3>
                    
                    <div id="loginbutton">
                         <button @click="Brugeroplysninger"> Log ind </button>
                    </div>

                </div>

            </div>



            <!-- Import App --> 
            <script src="main.js"></script>
            
            <!-- Mount App --> 
            <script> const mountedApp = app.mount('#app') </script>

        </body>
    </html>
