<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Z-park</title>

    <!-- Import Styles -->
    <link rel="stylesheet" href="Style.css" />

    <!-- Import Axios.js -->
    <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>

    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body id="app">
    <!-- Top-Nav Bar -->
    <div class="topnav">
        <a href="Index.html">Z-Park</a>        
        <a href="Brugere.html">Brugere</a>
        <a href="CreateUser.html">Opret Bruger</a>
        <a class="active" href="minkonto.html">Min Konto</a>
        <span v-if="!loggedInUser">
            <a href="#" style="cursor: pointer;">Log ind</a>
        </span>
        <span v-else>
            <a @click="logout" href="#" style="cursor: pointer;">Log ud</a>
        </span>
    </div>

    <div>
        <!-- Brugeroplysninger for den loggede ind bruger -->
        <div class="BrugerListeTabelBox" v-if="loggedInUser && userDetails">
            <h2 id="h2UserList">Min Konto</h2>
            <br>
            <table id="UserList">
                <thead>
                    <tr>
                        <th>Fulde navn</th>
                        <th>Nummerplade</th>
                        <th>E-mail</th>
                        <th>Brugernavn</th>
                        <th>Kodeord</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ userDetails.name }} {{ userDetails.surname }}</td>
                        <td>{{ userDetails.licenseplate }}</td>
                        <td>{{ userDetails.mail }}</td>
                        <td>{{ userDetails.username }}</td>
                        <td>{{ userDetails.password }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-else style="font-style: italic;">Ingen bruger er logget ind</div>
    </div>

    <!-- Import App -->
    <script src="main.js"></script>
</body>
</html>
