h1 
    { 
        font-size: 50px; 
        color: blue; 
    }

    .parking-garage {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 20px;
      }
      
      button {
        margin: 10px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
      }
      
      button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }